body{
  background-color: #765c86;
  color: white;
}

#titulo{
    margin-top: 1rem;
    padding-top: 1rem;
    /* IMPORTANTE */
    text-align: center;
}
#LogoPerfil{
  margin-right: 75px
}

#formLogin{
  margin-top: 50px;
}
#btnLogearse{
  margin: 50px auto;
}
#btnCancelarCargaCliente{
  position: relative;
  float: right;
}
#btnCancelarCargarUsuario{
  position: relative;
  float: right;
}
#btnCancelarCargarProducto{
  position: relative;
  float: right;
}
.navbar-brand{
  color: white;
}
.nav-link{
  color: white;
}
form#frmaltaReceta{
  font-size: small;
  margin: 0px;
  padding: 0px;
}
#tituloPedido{
  padding-top: 10px;
  /* IMPORTANTE */
  text-align: center;
}
#btnConfirmarPedido{
  position: relative;
  float: right;
  margin-right: 50px;
}


